@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-clr: #454543;
  --secondary-clr: #c8b5a6;
  --teriary-clr: #f6f6f48d;
  --text-clr: #fff;
}

@font-face {
  font-family: "steelfish";
  src: url("/assets/fonts/steelfish.woff2");
  src: url("/assets/fonts/steelfish_bd.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-rendering: optimizeSpeed;
}

.swiper {
  width: 100%;
  height: calc(100vh - 192px);
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  max-width: 80%;
}

.swiper-slide:nth-child(2n) {
  max-width: 60%;
}

.swiper-slide:nth-child(3n) {
  max-width: 40%;
}

@media (max-width: 860px) {
  .swiper-slide,
  .swiper-slide:nth-child(2n),
  .swiper-slide:nth-child(3n) {
    max-width: 100%;
  }
}

.swiper-pagination {
  font-family: "steelfish", sans-serif;
  letter-spacing: 2px;
  position: absolute;
}

.swiper-pagination-fraction {
  font-size: clamp(1.2rem, 0.5rem + 0.7vw, 1.45rem);
  color: #fff;
  margin-bottom: 0.2rem;
}

@layer components {
  .heading-styles {
    @apply font-bold font-steelfish text-3xl sm:text-5xl uppercase text-gray-800 tracking-wider;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

.fade-in-link {
  animation: fadeIn 0.3s;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ReactGridGallery_tile {
  transition: filter 0.3s ease-in-out;
}

.blur {
  filter: blur(50px);
}

.ReactGridGallery_tile:hover {
  filter: brightness(50%);
  -webkit-transition: 0.3s -webkit-filter ease-in-out;
  -moz-transition: 0.3s -moz-filter ease-in-out;
  -moz-transition: 0.3s filter ease-in-out;
  -ms-transition: 0.3s -ms-filter ease-in-out;
  -o-transition: 0.3s -o-filter ease-in-out;
  transition: filter 0.3s ease-in-out;
}
